nav{
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    gap: 25px;
    padding: 8px 0 8px 10px;
    width: 100%;
    border-radius: 3px;
    /* justify-content: flex-start !important; */
}

nav a{
    text-decoration: none;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    padding: 6px 18px;
    font-size: 22px;
    box-shadow: 1px 1px rgb(28, 28, 28);
}